@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

.navbar {
  background: #e9e5d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .logo {
      color: #034503;
      margin-right: 50px;
      .logo-container {
        display: flex;
        align-items: center;
      }

      .logo-text {
        margin-left: 15px; /* Adjust the spacing as needed */
      }

      .logo-text h1 {
        font-family: "Roboto", sans-serif;
        /* Regular */
        letter-spacing: 0.05rem;
        font-size: 24px; /* Adjust the size as needed */
        font-weight: bold;

        margin: 0;
        // font-weight: bold; /* Adjust based on your font choice */
      }

      .logo-text p {
        font-weight: 700;
        letter-spacing: 0.05rem;
        font-size: 16px; /* Adjust the size as needed */
        margin: 0;
      }
    }

    .navigation {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      li {
        margin-left: 2rem;

        a {
          text-decoration: none;
          color: #034503; // Set this to whatever color your design uses
          transition: color 0.3s ease;
          letter-spacing: 0.05rem;
          font-weight: 700;

          &:hover {
            color: #5eaa5e;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.massages {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* MassageCard.css */
.massage-card {
  display: flex;
  align-items: center;
  background-color: #e9e5d9;
  max-width: 100%;
  margin-bottom: 100px;
  height: 200px;
  &:last-child {
    margin-bottom: 0;
  }
  // border: 1px solid #ddd4b9;
}

.massage-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.massage-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0 16px;
}
.massages-title {
}
.massage-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000000;
  margin: 0 16px;
}

.secion-1 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e362e;

  color: white;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #2c3e50; // This is the dark blue color, adjust as needed

  .contact-info,
  .contact-form {
    width: 48%; // Adjust the width as needed to fit your design
    color: #ecf0f1; // This is the light grey color, adjust as needed

    h2 {
      margin-bottom: 10px;
    }

    p,
    a {
      font-size: 0.9em;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  .contact-form {
    h2 {
      margin-bottom: 20px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      box-sizing: border-box; // To ensure padding doesn't affect the width
    }

    button {
      background-color: #34495e; // Adjust button color as needed
      color: #ecf0f1;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4a5d70; // Adjust hover color as needed
      }
    }
  }
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  // Adjust the size of the icons
  i {
    font-size: 28px; // Adjust size as needed
  }

  // Adds a separator between icons
  a:last-child i {
    margin-left: 10px; // Adjust spacing to the right of the separator as needed
  }
  a {
    display: inline-block;

    // Here you would use actual icons instead of text
  }
}
.contact-grid {
  display: flex;
  flex-direction: column; /* Use row if you prefer items side by side */
  margin-bottom: 25px;
}

.contact-grid div {
  margin: 0 !important;
  display: flex;
  justify-content: space-between; /* This spreads the label and content */
  align-items: center;
  gap: 10px;
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 400px;
  background-color: #2c3e50;

  color: white;

  .contact-title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.secion-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #43372e;
  color: white;
  h1 {
    color: white;
    text-align: center;
  }
}
.content {
  display: flex;
  flex-direction: column;
}

.images-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.large-image img,
.small-images img {
  width: 100%; /* Adjust the width as necessary */
}

.large-image {
  flex: 2; /* Larger flex-grow value means this will take up more space */
  img {
    height: 100%;
    object-fit: cover;
    object-position: left; /* Align the visible part of the image to the left */
  }
}

.small-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* Takes up less space than the large image */
}

.small-images img {
  height: calc(
    50%
  ); /* Adjust the 5px if you have a gap or margin between the two small images */
}

.about-image {
  display: block; /* Remove default image margin */
  max-width: 100%; /* Ensure image is responsive and does not overflow its container */
  height: auto; /* Maintain aspect ratio */
}

.about-me-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.about-me-title {
  display: flex;
  justify-content: flex-start;
}

.content {
  max-width: 600px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}
.heroImage {
  height: 600px; /* Adjust the height as needed */
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(76, 68, 61, 0.85),
      /* Starting color with reduced transparency */ rgba(76, 68, 61, 0) 50%
        /* Transition to transparent at 50% height */
    );
    pointer-events: none;
  }

  .heroImageContent {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1,
    p {
      margin: 0;
    }
    /* Overlay */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* Black color with 50% opacity */
      z-index: 1; /* Ensure it's above the background image, but below the content */
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/bg_logo.svg"); /* Path to your SVG */
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; /* or contain, depending on your needs */
      opacity: 0.1; /* Adjust the opacity as needed */
      z-index: 2; /* Above the color overlay but below the content */
    }
    p {
      color: white;
    }
    h1 {
      color: #ffffff; /* White color */
      position: relative;
      z-index: 2; /* Ensure the text is above the overlay */
    }
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits color from parent elements */
}

h1 {
  color: #034503; /* Dark green color */
  font-weight: bold;
  font-family: "Mystery Crafty", sans-serif; /* Assuming you're using Montserrat */
}
body {
  margin: 0px;
  letter-spacing: 0.05rem;
  font-family: "Mystery Crafty", sans-serif; /* Assuming you're using Montserrat */
}

/* Light */
@font-face {
  font-family: "Mystery Crafty";
  src: url("../fonts/Mystery_Crafty_Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Mystery Crafty";
  src: url("../fonts/Mystery_Crafty_Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

footer {
  display: flex;
  justify-content: center;
  align-items: stretch;

  .left-column,
  .right-column {
    width: 50%;
    display: flex;
  }
  .left-column {
    justify-content: flex-end;
    padding-right: 35px;
    background-color: #e9e5d9;
  }
  .right-column {
    justify-content: flex-start;
    padding-left: 35px;
    background-color: #38424f;
  }
  .contact-form,
  .contact-info {
    padding: 200px 0px;
    max-width: 300px;
  }
  .contact-form {
    .alert-success {
      color: rgb(0, 255, 0);
      margin-top: 15px;
    }

    .alert-error {
      color: red;
      margin-top: 15px;
    }
    p {
      color: rgb(255, 0, 0);
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      margin: 0 0 10px 0;
      font-size: 12px;
    }
    h2 {
      margin-bottom: 20px;
      color: #ecf0f1;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      box-sizing: border-box; // To ensure padding doesn't affect the width
    }

    button {
      background-color: #34495e; // Adjust button color as needed
      color: #ecf0f1;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4a5d70; // Adjust hover color as needed
      }
    }
  }

  .contact-info {
    p {
      margin: 10px 0;
      text-align: left;

      font-family: "Roboto", sans-serif;
      font-weight: 300;
      strong {
        margin-right: 10px;
      }

      a {
        color: #0077cc; // Example link color
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
